<div class="topnav">
    <a id="logoHome" routerLink="/landing"> <img id="logo"[src]="'assets/img/autobusLOGO.png'"/></a>
    <a  routerLink="/profile"><i class="fa fa-user-circle fa-2x"></i>Perfil</a> 
    <a *ngIf="logged==true" href style="float:right" (click)="logout()">Cerrar sesión</a> 
</div>


<div class="container">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-xs-6">
                        <h2>Lista de usuarios</h2>
                    </div>
                    
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Función</th>
                        <th>Telefono</th>
                        <th>Email</th>                      
                        <th>Permisos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let u of userList;index as i" >
                        
                        <td>{{u.nom}} </td>
                        <td>{{u.cognoms}} </td>
                        <td>{{u.funcio}} </td>
                        <td>{{u.telefon}} </td>
                        <td>{{u.correu_electronic}} </td>
                        <td>{{u.permisos}} </td>
                        
                        <td>
                            <a *ngIf="u.permisos==0" href="#editEmployeeModal" (click)="selectUsername(u.nom)" class="edit" data-toggle="modal"><i class="fa fa-pencil" data-toggle="tooltip" title="Dar"></i>Dar permisos</a>
                            <a *ngIf="u.permisos==1" href="#deleteEmployeeModal" (click)="selectUsername(u.nom)"  class="delete" data-toggle="modal"><i class="fa fa-pencil" data-toggle="tooltip" title="Quitar"></i>Quitar permisos</a>
                        </td>
                    </tr>
                  
                </tbody>
            </table>
           
        </div>
    </div>        
</div>

<!-- Edit Modal HTML -->
<div id="editEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">						
                    <h4 class="modal-title">Otorgar permisos</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
              
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input type="submit" (click)="addPermisos()" class="btn btn-info" value="Guardar">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Delete Modal HTML -->
<div id="deleteEmployeeModal" class="modal fade" >
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">						
                    <h4 class="modal-title">Quitar permisos</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
               
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input type="submit" (click)="remPermisos()"  class="btn btn-danger" value="Quitar"  >
                </div>
            </form>
        </div>
    </div>
</div>
<div class="footer">
    <p>Intranet © 2021</p>
  </div>