<div class="topnav">
    <a id="logoHome" routerLink="/landing"> <img id="logo"[src]="'assets/img/autobusLOGO.png'"/></a>
      <a *ngIf="logged==false" routerLink="/register" style="float:right"><i class="fa fa-user-plus fa-2x"></i> Registro</a> 
      
      <a  *ngIf="logged==false" routerLink="/login" style="float:right"><i class="fa fa-sign-in fa-2x"></i>Iniciar sesión</a>
     
      <a *ngIf="logged==true" routerLink="/profile"> <i class="fa fa-user-circle fa-2x" ></i>{{user.nom}}</a>
      <a *ngIf="logged==true" href style="float:right" (click)="logout()"><i class="fa fa-sign-out fa-2x" ></i> Cerrar sesión</a>
    </div>

<main role="main" class="container bootdey.com">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-blue rounded box-shadow">
    
      <div class="lh-100">
        <!-- <h4 >John Doe</h4> -->
        <!-- <small>Messages</small> -->
      </div>
      <h4>Mensajes</h4>
    </div>
  
    <div class="media text-muted pt-3">
      <a  href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"> <span>Añadir reseña</span></a>
      <!-- <a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Borrar</span></a>						 -->
  </div>

    <div class="my-3 p-3 bg-white rounded box-shadow">
      <!-- <h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6> -->
      <div class="media text-muted pt-3" *ngFor="let r of resList;index as i" >
       <p  > <strong class="d-block text-gray-dark">{{r.id_usuari}} - {{r.nom}}</strong></p>
        <p  class="media-body pb-3 mb-0 medium lh-125 border-bottom border-gray" >
        
          {{r.fecha}}
          {{r.informacion}}
         
        </p>
      </div>
     
      <!-- <div class="media text-muted pt-3">
       
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">@username</strong>
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        </p>
      </div>  -->
      <div id="addEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form"  #f="ngForm">
                    <div class="modal-header">						
                        <h4 class="modal-title">Añadir reseña</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">					
                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" class="form-control" name="nombre" [(ngModel)]="nom" required #nombre="ngModel">
                        </div>
                        <div class="form-group">
                            <label>fecha</label>
                            <input type="text" class="form-control" name="fetxa" [(ngModel)]="fecha" required #fetxa="ngModel">
                        </div>
                        <div class="form-group">
                            <label>Mensaje</label>
                            <textarea  class="form-control" name="msg" [(ngModel)]="informacion" required #msg="ngModel"></textarea>
                        </div>
                        				
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                        <input type="submit" (click)="addResenya()" class="btn btn-success" value="Añadir">
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
  </main>
<div class="footer">
    <p>Intranet © 2021</p>
  </div>
