

<nav class="navbar ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a id="logoHome" routerLink="/landing"> <img id="logo"[src]="'assets/img/autobusLOGO.png'"/></a>
    </div>
    <ul class="nav navbar-nav">
      <!-- <li class="active"><a href="#">Home</a></li> -->
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-wrench fa-2x"></i> Herramientas
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a *ngIf="isAdmin==true" routerLink="/permisos-menu">Cambiar permisos</a></li>
          <li><a routerLink="/ruta">Rutas</a></li>
          <li><a routerLink="/linea">Lineas</a></li>
          <li><a routerLink="/assignment">Asignaciones</a></li>
          <li><a routerLink="/forum">Foro</a></li>
        </ul>
      </li>
      <!-- <!-- <li><a href="#">Page 2</a></li> -->
      <li><a *ngIf="logged==true" href style="float:right" (click)="logout()">Cerrar sesión </a></li> 
    </ul>
  </div>
</nav>


<table class="container" *ngIf="logged==true" >
   
    <tr>
        <th >
            <h1>Nombre</h1>
        </th>
        <th>
            <h1>Apellidos</h1>
        </th>
        <th>
            <h1>Funcion</h1>
        </th>
        <th>
            <h1>Telefono</h1>
        </th>
        <th>
            <h1>Email</h1>
        </th>
        <th>
            <h1>Contraseña</h1>
        </th>
    </tr>
    <tr >
        <!-- <td>{{user.id_usuari}}</td> -->
        <td>{{user.nom}}</td>
        <td>{{user.cognoms}}</td>
        <td>{{user.funcio}}</td>
        <td>{{user.telefon}}</td>
        <td>{{user.correu_electronic}}</td>
        <td>{{user.contrasenya}}</td>
    </tr>
</table>

<div class="container" *ngIf="logged==true" >
  <form #formUser="ngForm" (ngSubmit)="editUser()" >
      <div >
          <h1>EDITAR PERFIL</h1>
          Nombre: <input #inputNom="ngModel" type="text" [(ngModel)]="user.nom" name="nombre" pattern="[A-Za-z- ]{1,40}" required/><br />
          Apellidos <input #inputApe="ngModel" type="text" [(ngModel)]="user.cognoms" name="ape" pattern="[A-Za-z- ]" required/><br />
          Telefono: <input #inputPhone="ngModel" type="number"  [(ngModel)]="user.telefon" name="phone" pattern="\b(?:[1-9]|1[0-4])\b" required/><br />
          Email: <input #inputEmail="ngModel" type="email" [(ngModel)]="user.correu_electronic" name="email"  required/><br />
          Contraseña <input #inputPass="ngModel" type="password" [(ngModel)]="user.contrasenya" name="pass" pattern="[A-Za-z- ][1-9]{1,40}"  min=6 required/><br />
          <div><button class="send" type="submit" >Enviar</button></div>                               
      </div>
  </form>
</div>
  <div  *ngIf="logged==false">
        <h1>Por favor,logueanse</h1>   
    </div>
  <div class="footer">
    <p>Intranet © 2021</p>
  </div>