

<nav class="navbar ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a id="logoHome" routerLink="/landing"> <img id="logo"[src]="'assets/img/autobusLOGO.png'"/></a>
    </div>
    <ul class="nav navbar-nav">
      <!-- <li class="active"><a href="#">Home</a></li> -->
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-wrench fa-2x"></i> Herramientas
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
           <li><a  href="#editEmployeeModal"  class="edit" data-toggle="modal"><i class="fa fa-pencil" data-toggle="tooltip" title="Editar">Editar perfil</i></a></li> 
          <li><a *ngIf="isAdmin==true" routerLink="/permisos-menu">Cambiar permisos</a></li>
          <li><a routerLink="/ruta">Rutas</a></li>
          <li><a routerLink="/linea">Linias</a></li>
          <li><a routerLink="/assignment">Asignaciones</a></li>
          <li><a routerLink="/forum">Foro</a></li>
          
          
           
        
        </ul>
      </li>
      <!-- <!-- <li><a href="#">Page 2</a></li> -->
      <li><a *ngIf="logged==true" href style="float:right" (click)="logout()">Cerrar sesión </a></li> 
    </ul>
  </div>
</nav>


<table class="container" *ngIf="logged==true" >   
    <tr>
        <th >
            <h1>Nombre</h1>
        </th>
        <th>
            <h1>Apellidos</h1>
        </th>
        <th>
            <h1>Funcion</h1>
        </th>
        <th>
            <h1>Telefono</h1>
        </th>
        <th>
            <h1>Email</h1>
        </th>
        <th>
            <h1>Contraseña</h1>
        </th>
    </tr>
    <tr >
        <!-- <td>{{user.id_usuari}}</td> -->
        <td>{{user.nom}}</td>
        <td>{{user.cognoms}}</td>
        <td>{{user.funcio}}</td>
        <td>{{user.telefon}}</td>
        <td>{{user.correu_electronic}}</td>
        <td>{{user.contrasenya}}</td>

       
    </tr>
</table>

<div class="container">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-xs-6">
                        <h2>Calendario</h2>
                    </div>
                   
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                       
                        <th>Id asignación</th>
                        <th>Id linia/ruta</th>
                        <th>Nombre</th>               
                        <th>Tipo</th>
                        <th>Fecha</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let a of assignList;index as i">
                        <td>{{a.id_asignacion}}</td>
                        <td>{{a.id_liniaruta}}</td>
                        <td>{{a.nom}}</td>
                        <td>{{a.tipus}}</td>
                        <td>{{a.fecha}}</td>

                       
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
</div>
<!-- Edit Modal HTML -->
<div id="editEmployeeModal" class="modal fade">
  <div class="modal-dialog">
      <div class="modal-content">
          <form>
              <div class="modal-header">						
                  <h4 class="modal-title">Editar perfil</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>
              <div class="modal-body">					
                  <div class="form-group">
                      <label>Nombre</label>
                      <input #inputNom="ngModel" type="text" [(ngModel)]="user.nom" name="nombre" pattern="[A-Za-z- ]{1,40}" required/>
                  </div>
                  <div class="form-group">
                      <label>Apellidos</label>
                      <input #inputApe="ngModel" type="text" [(ngModel)]="user.cognoms" name="ape" pattern="[A-Za-z- ]" required/>
                  </div>
                  <div class="form-group">
                      <label>Telefono</label>
                      <input #inputPhone="ngModel" type="number"  [(ngModel)]="user.telefon" name="phone" pattern="\b(?:[1-9]|1[0-4])\b" required/>
                  </div>
                  <div class="form-group">
                      <label>Email</label>
                      <input #inputEmail="ngModel" type="email" [(ngModel)]="user.correu_electronic" name="email"  required/>
                  </div>
                  <div class="form-group">
                      <label>Contraseña</label>
                      <input #inputPass="ngModel" type="password" [(ngModel)]="user.contrasenya" name="pass" pattern="[A-Za-z- ][1-9]{1,40}"  min=6 required/>
                  </div>					
              </div>
              <div class="modal-footer">
                  <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                  <input type="submit"  class="btn btn-info" value="Guardar" (click)="editUser()">
              </div>
          </form>
      </div>
  </div>
</div>
<!-- <div class="container" *ngIf="logged==true" >
  <form #formUser="ngForm" (ngSubmit)="editUser()" >
      <div >
          <h1>EDITAR PERFIL</h1>
          Nombre: <input #inputNom="ngModel" type="text" [(ngModel)]="user.nom" name="nombre" pattern="[A-Za-z- ]{1,40}" required/><br />
          Apellidos <input #inputApe="ngModel" type="text" [(ngModel)]="user.cognoms" name="ape" pattern="[A-Za-z- ]" required/><br />
          Telefono: <input #inputPhone="ngModel" type="number"  [(ngModel)]="user.telefon" name="phone" pattern="\b(?:[1-9]|1[0-4])\b" required/><br />
          Email: <input #inputEmail="ngModel" type="email" [(ngModel)]="user.correu_electronic" name="email"  required/><br />
          Contraseña <input #inputPass="ngModel" type="password" [(ngModel)]="user.contrasenya" name="pass" pattern="[A-Za-z- ][1-9]{1,40}"  min=6 required/><br />
          <div><button class="send" type="submit" >Enviar</button></div>                               
      </div>
  </form>
</div> -->
  <div  *ngIf="logged==false">
        <h1>Por favor,logueanse</h1>   
    </div>
  <div class="footer">
    <p>Intranet © 2021</p>
  </div>