

  <!-- <div class="header">
    <img [src]="'assets/img/autobusLOGO.png'" width="150px" height="80px"/>
  </div> -->
<div class="topnav">
  <a id="logoHome" routerLink="/landing"> <img id="logo"[src]="'assets/img/autobusLOGO.png'"/></a>
    <a *ngIf="logged==false" routerLink="/register" style="float:right"><i class="fa fa-user-plus fa-2x"></i> Registro</a> 
    
    <a  *ngIf="logged==false" routerLink="/login" style="float:right"><i class="fa fa-sign-in fa-2x"></i>Iniciar sesión</a>
   
    <a *ngIf="logged==true" routerLink="/profile"> <i class="fa fa-user-circle fa-2x" ></i>{{user.nom}}</a>
    <a *ngIf="logged==true" href style="float:right" (click)="logout()"><i class="fa fa-sign-out fa-2x" ></i> Cerrar sesión</a>
  </div>
  <!-- <app-register></app-register> -->
   <div class="row">
     <div class="leftcolumn">
      <img src="assets/img/foto1.jpg">
        
    </div> 
    <div class="rightcolumn">
      <div>
      <a class="twitter-timeline" data-width="400" data-height="650" href="https://twitter.com/transit?ref_src=twsrc%5Etfw">Tweets by transit</a> 
    </div>
    </div> 
  </div>
  
  
  
  
  <div class="footer">
    <p>Intranet © 2021</p>
  </div>


