<div class="topnav">
    <a id="logoHome" routerLink="/landing"> <img id="logo"[src]="'assets/img/autobusLOGO.png'"/></a>
    <a  routerLink="/profile"><i class="fa fa-user-circle fa-2x"></i>Perfil</a> 
    <a *ngIf="logged==true" href style="float:right" (click)="logout()">Cerrar sesión</a> 
</div>

<div class="container">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-xs-6">
                        <h2>Información de la ruta</h2>
                    </div>
                   
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                       
                        <th>Id ruta</th>                       
                        <th>Nombre</th>
                        <th>Turistico/Transporte</th>
                        <th>Recogida</th>
                        <th>Destinación</th>
                        <th>Información</th>              
                        <th>Guía asignado</th>
                        <th>Cliente</th>                      
                    </tr>
                </thead>
                <tbody>
                    <tr  >
                        <td>{{ruta.id_ruta}} </td>
                        <td>{{ruta.nom}} </td>
                        <td>{{ruta.caracter}}</td>
                        <td>{{ruta.recollida}}</td>
                        <td>{{ruta.destinacio}}</td>       
                        <td>{{ruta.informacion}}</td>
                        <td>{{ruta.guia_asignat}}</td>
                        
                        <td>{{ruta.client}}</td>                   
                    </tr>
                  
                </tbody>
            </table>
        </div>
    </div>        
</div>

<div class="googleMap">
    <iframe width="1100" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas" [src]="vari"></iframe> <a href='http://maps-website.com/es'>Maps-Generator.com/es</a> 

</div>

<div class="footer">
    <p>Intranet © 2021</p>
  </div>